::-webkit-scrollbar {
  background-color: #7B9CB0;
  width: 8px;
  box-sizing: border-box;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #F6A623;
}

.App {
  text-align: center;
  background-position: center;
  padding: 2% 15%;
  margin: 80px 0;
  box-sizing: border-box;
  height: 85vh;
}

@media (max-width: 768px) {
  .App {
    padding: 0;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}